.Jobs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: collumn;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
}

.JobsCard {
  max-width: 350px;
  margin: 2em auto;
  padding: 20px;
  margin: 20px;
  background-color: #CECED1;
  box-shadow: 0px 0px 3px #4C5769;
  text-align:center;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.JobsCard-active {
  width: 50%;
  max-width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  }

.JobsCard-Title {
  font-size: 1.2em;
  text-transform: uppercase;
}

.JobsCard-JobDescription {
  margin: 20px auto;
}

.JobsCard-Image {
  display: inline-block;
  position: relative;
  width: 330px;
  overflow: hidden;
}

.JobsCard-Image > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.JobsCard > .Button {
  display: inline-block;
  color: #4C5769;
  padding: 10px 25px;
  margin: 10px 0px;
  background-color: #C0C0C5;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  transition: box-shadow .5s ease-in;
}

.JobsCard > .Button:hover {
  box-shadow: 0px 0px 2px #4C5769;
  transition: box-shadow 1s ease-out;
  cursor: pointer;
}

.Overlayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.Overlayer-active {
  display: inherit;
}
